<template name="artists">
  <h2>Artists</h2>

  <form class="new-artist">
    <div class="form-group">
      <input type="text" class="form-control" id="new-artist-input" placeholder="Enter artist name">
    </div>
  </form>

  <ul>
  {{#isolate}}
    {{#each artists}}
      {{> artist}}
    {{/each}}
  {{/isolate}}
  </ul>
</template>

<template name="artist">
  <li>
    <a href="{{pathFor 'artistShow'}}">
      {{stageName}}
    </a>
  </li>
</template>

<template name="artistShow">
  <h2>{{stageName}}</h2>
  <form class="form-horizontal edit-artist" role="form">
  <div class="form-group">
    <label for="input-stage-name" class="col-sm-1 control-label">Stage Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input-stage-name" placeholder="" value="{{stageName}}">
    </div>
  </div> 
  <div class="form-group">
    <label for="input-real-name" class="col-sm-1 control-label">Real Name</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input-real-name" placeholder="" value="{{realName}}">
    </div>
  </div>
  <div class="form-group">
    <label for="input-birthdate" class="col-sm-1 control-label">Birthdate</label>
    <div class="col-sm-6">
      <input type="date" class="form-control" id="input-birthdate" placeholder="e.g., 05/25/1975" value="{{birthdate}}">
    </div>
  </div>
  <div class="form-group">
    <label for="input-website" class="col-sm-1 control-label">Website</label>
    <div class="col-sm-6">
      <input type="url" class="form-control" id="input-website" placeholder="e.g., http://www.kendricklamar.com" value="{{website}}">
    </div>
  </div>
  <div class="form-group">
    <label for="input-tags" class="col-sm-1 control-label">Tags</label>
    <div class="col-sm-6">
      <input type="text" class="form-control" id="input-tags" placeholder="ex) west coast, TDE" value="{{tags}}">
    </div>
  </div>

  <button type="submit" class="btn btn-success">Save</button>
  <button class="btn btn-default cancel-button">Cancel</button>
  <button class="btn btn-danger delete-button">Delete</button>
</form>
</template>