<template name="artistShow">
  <div class="row">
    <div class="col-lg-3">
      <h2 id="artist-stage-name">{{artist.stageName}}</h2> 
      <div class="panel panel-default artist-details">
        <div class="panel-heading">Details</div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {{#if artist.realName}}
              <li>Real Name: {{artist.realName}}</li>
            {{/if}}

            {{#if artist.birthdate}}
              <li>Born: {{artist.birthdate}}</li>
            {{/if}}

            {{#if artist.birthplace}}
              <li>Birthplace: {{artist.birthplace}}</li>
            {{/if}}

            {{#if artist.website}}
              <li>Website: {{artist.website}}</li>
            {{/if}}

            {{#if artist.twitterUsername}}
              <li>Twitter: {{artist.twitterUsername}}</li>
            {{/if}}
          </ul>
          {{#if currentUser}}<button class="btn btn-default edit-button">Edit</button>{{/if}}
        </div>
      </div>
    </div>
    <div class="col-lg-3 releases-div">
      <h3>Releases</h3>
        <ol>
        {{#each artist.releases}}
          <li>
            {{releaseName}} ({{releaseType}}) Rank {{rank}}
          </li>
        {{/each}}
        </ol>

      {{#if currentUser}}
      <h4>My Ranks</h4>
      <ol id="rank-list" class="sortable">
        {{#each rankings.releases}}
          <li>
            {{releaseName}} ({{releaseType}})
          </li>
        {{/each}}
      </ol>
      {{/if}}
    </div>

    <div class="col-lg-5 releases-div">
      <h3>Twitter</h3>
      <ul class="unstyled-list">
        {{#each artist.tweets}}
          <li>
            {{text}} at {{createdAt}}
          </li>
        {{/each}}
      </ul>

    </div>    
  </div>
</template>
