<template name="artistEdit">
  <a href="{{pathFor 'artistShow'}}">
    <h2>{{stageName}}</h2>
  </a>

  <h3>New Music Release</h3>
  <form class="form-horizontal new-music-release">
    <input type="hidden" id="artist-id" value="{{_id}}">
    <div class="form-group">
      <label for="input-release-type" class="col-sm-1 control-label artist-label">Release Type</label>
      <div class="col-sm-6">
        <select class="form-control" id="input-release-type">
          <option>Album</option>
          <option>Mixtape</option>
        </select>
      </div>
    </div>  
    <div class="form-group">
      <label for="input-release-name" class="col-sm-1 control-label artist-label">Release Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-release-name" placeholder="album or mixtape name">
      </div>
    </div>
     <div class="form-group">
      <label for="input-other-artists" class="col-sm-1 control-label artist-label">Other Artists</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-other-artists" placeholder="comma-separated e.g., Kanye West, Jay-Z">
      </div>
    </div>     
    <div class="form-group">
      <label for="input-itunes-url" class="col-sm-1 control-label artist-label">iTunes URL</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-itunes-url" placeholder="">
      </div>
    </div> 
    <div class="form-group">
      <label for="input-spotify-url" class="col-sm-1 control-label artist-label">Spotify URL</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-spotify-url" placeholder="">
      </div>
    </div>
     <div class="form-group">
      <label for="input-amazon-url" class="col-sm-1 control-label artist-label">Amazon URL</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-amazon-url" placeholder="">
      </div>
    </div> 

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <h3>Music Releases</h3>
  <ul>
    {{#each releases}}
    <li>
      {{releaseName}} ({{releaseType}})
    </li>
    {{/each}}
  </ul>

  <h3>Edit Details</h3>
  <form class="form-horizontal edit-artist" role="form">
    <input type="hidden" id="_id" value="{{_id}}">
    <div class="form-group">
      <label for="input-stage-name" class="col-sm-1 control-label artist-label">Stage Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-stage-name" placeholder="" value="{{stageName}}">
      </div>
    </div> 
    <div class="form-group">
      <label for="input-clean-url-name" class="col-sm-1 control-label artist-label">Clean URL</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-clean-url-name" placeholder="e.g., kendrick-lamar" value="{{cleanUrlName}}">
      </div>
    </div>  
    <div class="form-group">
      <label for="input-real-name" class="col-sm-1 control-label artist-label">Real Name</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-real-name" placeholder="" value="{{realName}}">
      </div>
    </div>
    <div class="form-group">
      <label for="input-birthdate" class="col-sm-1 control-label artist-label">Birthdate</label>
      <div class="col-sm-6">
        <input type="date" class="form-control" id="input-birthdate" placeholder="e.g., 05/25/1975" value="{{birthdate}}">
      </div>
    </div>
    <div class="form-group">
      <label for="input-birthplace" class="col-sm-1 control-label artist-label">Birthplace</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-birthplace" placeholder="" value="{{birthplace}}">
      </div>
    </div>
    <div class="form-group">
      <label for="input-website" class="col-sm-1 control-label artist-label">Artist Website</label>
      <div class="col-sm-6">
        <input type="url" class="form-control" id="input-website" placeholder="e.g., http://www.kendricklamar.com" value="{{website}}">
      </div>
    </div>
    <div class="form-group">
      <label for="input-twitter" class="col-sm-1 control-label artist-label">Artist Twitter</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-twitter" placeholder="e.g., @kendricklamar" value="{{twitter}}">
      </div>
    </div>    
    <div class="form-group">
      <label for="input-tags" class="col-sm-1 control-label artist-label">Tags</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" id="input-tags" placeholder="ex) west coast, TDE" value="{{tags}}">
      </div>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn btn-default cancel-button">Cancel</button>
    <button class="btn btn-danger delete-button pull-right">Delete</button>
  </form>
</template>
