<template name="artists">
  <div id="masonry-container">
    {{#each artists}}
    <div class="masonry-item">
      {{> artist}}
    </div>
    {{/each}}
    
  </div>
</template>

<template name="asdf">
{{#if currentUser}}
  <form class="new-artist">
    <div class="form-group">
      <input type="text" class="form-control" id="new-artist-input" placeholder="Enter artist name">
    </div>
  </form>
  {{/if}}
</template>


<template name="artist">
  <a href="{{pathFor 'artistShow'}}">
    <img src="{{artistImage}}" class="tile-img">
    <h2 class="text-center">{{stageName}}</h2>
  </a>
</template>
