<template name="artists">
  <div class="row">
    <div class="col-lg-12">
      <form role="form" class="new-artist">
        <div class="panel panel-default">
          <div class="panel-body">
            <input id="new-artist-input" type="text" class="form-control" placeholder="Artist Name">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div id="masonry-container">
        {{#each artists}}
        {{#if artistImage}}
        <div class="masonry-item">
          {{> artist}}
        </div>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="row">
    {{#each artists}}
    <a href="{{pathFor 'artistShow'}}">
      <p>{{stageName}}</p>
    </a>
    {{/each}}
  </div>
  
</template>

<template name="asdf">
{{#if currentUser}}
  <form class="new-artist">
    <div class="form-group">
      <input type="text" class="form-control" id="new-artist-input" placeholder="Enter artist name">
    </div>
  </form>
  {{/if}}
</template>


<template name="artist">
  <a href="{{pathFor 'artistShow'}}">
    <img src="{{artistImage}}" class="tile-img">
    <h2 class="text-center">{{stageName}}</h2>
  </a>
</template>
