<template name="artistShow">
  <div class="row">
    {{>artistDetails}}

    {{#if $.Session.equals 'rankingTemplate' 'allRanks'}}
      {{>allRankings}}
    {{else}}
      {{>myRankings}}
    {{/if}}

    {{>twitterFeed}}
</template>

<template name="artistDetails">
  <div class="col-lg-3 artist-details-col">
    <h1 id="artist-stage-name">{{artist.stageName}}</h1>
    <img src={{artist.artistImage}}>
    <div class="panel panel-default artist-details">
      <div class="panel-heading">
        Details
        {{#if isInRole 'admin'}}
        <a href="#" id="artist-edit" class="text-muted">
          edit
        </a>
        {{/if}}
        
      </div>
      <div class="panel-body">
        <ul class="list-unstyled">
          {{#if artist.realName}}
          <li>Real Name: <strong>{{artist.realName}}</strong></li>
          {{/if}}

          {{#if artist.birthdate}}
          <li>Born: <strong>{{artist.birthdate}}</strong></li>
          {{/if}}

          {{#if artist.birthplace}}
          <li>Birthplace: <strong>{{artist.birthplace}}</strong></li>
          {{/if}}

          {{#if artist.website}}
          <li>Website: <a href="{{artist.website}}" target="_blank">{{artist.website}}</a></li>
          {{/if}}
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="allRankings">
  <div class="col-lg-4 all-rankings artist-column">
    <h3>
      Overall Rankings
      {{#if currentUser}}
      <button type="button" class="btn btn-warning btn-sm my-ranks-button">
        <span class="glyphicon glyphicon-pencil"></span> My Ranks
      </button>
      {{/if}}
    </h3>
    <h4 class="text-muted">Aggregate rankings from all users</h4>
    <ol class="all-ranks-list">
    {{#each artist.releases}}
    <li class="all-ranks-item" data-toggle="modal" data-target="#release-{{rank}}-modal">
      <ul class="list-inline release-row">
        <li class="release-name">{{releaseName}} <span class="text-muted">({{releaseYear}})</span></li>
        <li class="release-icon {{releaseType}}" data-toggle="tooltip"></li>
      </ul>
    </li>

    <div class="modal fade" id="release-{{rank}}-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel">
              {{releaseName}} ({{releaseYear}})
            </h2>
          </div>
          <div class="modal-body">
            <div class="well">
              {{#if description}}
                {{description}}
              {{else}}
                No description yet.
              {{/if}}
            </div>
            <ul class="list-unstyled listen-links">
              {{#if spotifyUrl}}
              <li><a href="{{spotifyUrl}}" class="spotify-link listen-link" target="_blank">Listen on Spotify</a></li>
              {{/if}}

              {{#if iTunesUrl}}
              <li><a href="{{iTunesUrl}}" class="itunes-link listen-link" target="_blank">Purchase from iTunes</a></li>
              {{/if}}

              {{#if amazonUrl}}
              <li><a href="{{amazonUrl}}" class="amazon-link listen-link" target="_blank">Purchase from Amazon</a></li>
              {{/if}}

              {{#if mixtapeUrl}}
              <li><a href="{{mixtapeUrl}}" class="datpiff-link listen-link" target="_blank">Download from DatPiff</a></li>
              {{/if}}
            </ul>
          </div>
        </div>
      </div>
    </div>

    {{/each}}
    </ol>
  </div>
</template>

<template name="myRankings">
  {{#if currentUser}}
  <div class="col-lg-4 my-rankings artist-column">
    <h3>
      My Rankings
      <button type="button" class="btn btn-success btn-xs save-ranks-button" data-toggle="tooltip" title="Save">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button type="button" class="btn btn-danger btn-xs cancel-ranks-button" data-toggle="tooltip" title="Cancel">
        <span class="glyphicon glyphicon-remove"></span>
      </button>        
    </h3>
    <h4 class="text-muted">Your personal rankings to reorder</h4>
    <ol class="sortable list-group my-ranks-list">

      {{#each rankings.releases}}
      <li class="list-group-item">
        {{releaseName}}
      </li>
      {{/each}}
    </ol>
  </div>
  {{/if}}
</template>

<template name="twitterFeed">
  <div class="col-lg-4 artist-column">
    <h3>Twitter 
      <a href="http://twitter.com/{{artist.twitterUsername}}" target="_blank">
        @{{artist.twitterUsername}}
      </a>
    </h3>
    <h4 class="text-muted">Live Twitter Stream</h4>
    <ul class="list-unstyled tweets">
      {{#each artist.tweets}}
      <li class="tweet">
        {{{text}}} <span class="text-muted"><a href="{{detailsLink}}" class="twitter-details-link">{{createdAt}}</a></span>
      </li>
      {{else}}
      <li class="tweet">
        No tweets yet...
      </li>
      {{/each}}
    </ul>
  </div>
</template>
