<template name="artistShow">
  <div class="row">
    {{#constant}}
    <div class="col-lg-3">
      <h1 id="artist-stage-name">{{artist.stageName}}</h1>
      <img src={{artist.artistImage}}>
      <div class="panel panel-default artist-details">
        <div class="panel-heading">
          Details
          {{#if currentUser}}
          <a href="#" id="artist-edit" class="text-muted">
            edit
          </a>
          {{/if}}
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {{#if artist.realName}}
              <li>Real Name: {{artist.realName}}</li>
            {{/if}}

            {{#if artist.birthdate}}
              <li>Born: {{artist.birthdate}}</li>
            {{/if}}

            {{#if artist.birthplace}}
              <li>Birthplace: {{artist.birthplace}}</li>
            {{/if}}

            {{#if artist.website}}
              <li>Website: <a href="{{artist.website}}" target="_blank">{{artist.website}}</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
    {{/constant}}

    {{#if $.Session.equals 'rankingTemplate' 'allRanks'}}
      {{>allRankingsTemplate}}
    {{else}}
      {{>myRankingsTemplate}}
    {{/if}}

    <div class="col-lg-4">
      <h3>Twitter</h3>
      <ul class="unstyled-list">
        {{#each artist.tweets}}
          <li>
            {{text}} at {{createdAt}}
          </li>
        {{/each}}
      </ul>
    </div>    
  </div>
</template>

<template name="allRankingsTemplate">
  <div class="col-lg-4 all-rankings">
    <h3>
      Overall Rankings
      {{#if currentUser}} 
      <button type="button" class="btn btn-default btn-sm my-ranks-button">
        <span class="glyphicon glyphicon-pencil"></span> My Ranks
      </button>
      {{/if}}
    </h3>
    <ol>
    {{#each artist.releases}}
      <li>
        {{releaseName}} ({{releaseType}})
      </li>
    {{/each}}
    </ol>
  </div>
</template>

<template name="myRankingsTemplate">
  {{#if currentUser}}
  <div class="col-lg-4 my-rankings">
    <h3>
      My Rankings
      <button type="button" class="btn btn-success btn-xs save-ranks-button" data-toggle="tooltip" title="Save">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button type="button" class="btn btn-danger btn-xs cancel-ranks-button" data-toggle="tooltip" title="Cancel">
        <span class="glyphicon glyphicon-remove"></span>
      </button>        
    </h3>
    <ol id="rank-list" class="sortable">
      {{#each rankings.releases}}
        <li>
          {{releaseName}} ({{releaseType}})
        </li>
      {{/each}}
    </ol>
  </div>
  {{/if}}  
</template>

