<template name="artistShow">
  <div class="row">
    {{#constant}}
    <div class="col-lg-3">
      <h1 id="artist-stage-name">{{artist.stageName}}</h1>
      <img src={{artist.artistImage}}>
      <div class="panel panel-default artist-details">
        <div class="panel-heading">
          Details
          {{#if currentUser}}
          <a href="#" id="artist-edit" class="text-muted">
            edit
          </a>
          {{/if}}
        </div>
        <div class="panel-body">
          <ul class="list-unstyled">
            {{#if artist.realName}}
              <li>Real Name: {{artist.realName}}</li>
            {{/if}}

            {{#if artist.birthdate}}
              <li>Born: {{artist.birthdate}}</li>
            {{/if}}

            {{#if artist.birthplace}}
              <li>Birthplace: {{artist.birthplace}}</li>
            {{/if}}

            {{#if artist.website}}
              <li>Website: <a href="{{artist.website}}" target="_blank">{{artist.website}}</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </div>
    {{/constant}}

    {{#if $.Session.equals 'rankingTemplate' 'allRanks'}}
      {{>allRankingsTemplate}}
    {{else}}
      {{>myRankingsTemplate}}
    {{/if}}

    <div class="col-lg-4 artist-column">
      <h3>Twitter 
        <a href="http://twitter.com/{{artist.twitterUsername}}" target="_blank">
          @{{artist.twitterUsername}}
        </a>
      </h3>
      <h4 class="text-muted">Live Twitter Stream</h3>
      <ul class="list-unstyled">
        {{#each artist.tweets}}
          <li class="tweet">
            {{{text}}} <span class="text-muted">{{createdAt}}</span>
          </li>
        {{else}}
          <li class="tweet">
            No tweets yet...
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</template>

<template name="allRankingsTemplate">
  <div class="col-lg-4 all-rankings artist-column">
    <h3>
      Overall Rankings
      {{#if currentUser}} 
      <button type="button" class="btn btn-default btn-sm my-ranks-button">
        <span class="glyphicon glyphicon-pencil"></span> My Ranks
      </button>
      {{/if}}
    </h3>
    <h4 class="text-muted">Aggregate rankings from all users</h4>
    <ol class="all-ranks-list">
    {{#each artist.releases}}
      <li class="all-ranks-item">
        {{releaseName}}
      </li>
    {{/each}}
    </ol>
  </div>
</template>

<template name="myRankingsTemplate">
  {{#if currentUser}}
  <div class="col-lg-4 my-rankings artist-column">
    <h3>
      My Rankings
      <button type="button" class="btn btn-success btn-xs save-ranks-button" data-toggle="tooltip" title="Save">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
      <button type="button" class="btn btn-danger btn-xs cancel-ranks-button" data-toggle="tooltip" title="Cancel">
        <span class="glyphicon glyphicon-remove"></span>
      </button>        
    </h3>
    <h4 class="text-muted">Your personal rankings to reorder</h4>
    <ol id="rank-list" class="sortable list-group">
      {{#each rankings.releases}}
        <li class="list-group-item">
          {{releaseName}}
        </li>
      {{/each}}
    </ol>
  </div>
  {{/if}}  
</template>

